/* You can add global styles to this file, and also import other style files */
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';
.btn-dash{
    width: 45%;
    height: 5em; 
    margin: 1em;
}
.form-group>input{

    font-weight: bolder;

}

.form-group>select{

    font-weight: bolder;

}

.form-group input placeholder{

    color: rgb(228,211,211);

}



table tbody :hover{

    background-color: #F9F3F5;

    cursor: pointer;

}



.ng-invalid:not(form){
    border-left: 5px solid red;
  }
  .ng-valid[required],.ng-valid.required{
    border-left: 5px solid rgb(10, 207, 20);
  }
  