
  <section class="h-100 bg-dark">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block">
                <agm-map [latitude]="lat" [longitude]="lng">
                    <agm-direction 
                      [origin]="origin" 
                      [destination]="destination">
                    </agm-direction>
                  </agm-map>
              </div>
              <div class="col-xl-6">
                <form name="bookingForm" autocomplete="off" #form="ngForm" (ngSubmit)="onSubmit(form)">
                <div class="card-body p-md-5 text-black">
                  <div class="row">
                    <div class="form-outline mb-4">
                        <input type="text" name="PassengerName" #PassengerName="ngModel"
                        [(ngModel)]="passengerService.formData.passengerName" class="form-control" pattern="[a-zA-Z\s]+"
                        placeholder="Enter Full name of the passenger" minlength="04" maxlength="40" required/>
                        <label class="form-label" for="passengerName" aria-placeholder="Enter passenger full name">Passenger Full Name</label>
                      </div>
                  </div>
  
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="number" type="number" name="PassengerAge" #PassengerAge="ngModel" pattern="[0-9]+"
                        [(ngModel)]="passengerService.formData.passengerAge" class="form-control"
                        placeholder="Enter age of the passenger" maxlength="2" required
                        [ngClass]="{ 'is-invalid' : PassengerAge.touched && PassengerAge.invalid }" />
                        <label class="form-label" for="form3Example1m1" placeholder="Enter passenger age">Age</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="date" name="JourneyDate" #JourneyDate="ngModel"
                        [(ngModel)]="passengerService.formData.journeyDate" class="form-control" required
                        [ngClass]="{ 'is-invalid' : JourneyDate.touched && JourneyDate.invalid }"/>
                        <label class="form-label" for="form3Example1n1">Journey Date</label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <select name="PassengerGender" id="passengerGender" class="form-control" #PassengerGender="ngModel" required [(ngModel)]="passengerService.formData.passengerGender">
                          <option value='Male'>
                            Male
                          </option>
                          <option value='FeMale'>
                            Female
                          </option>
                          <option value='Others'>
                            Others
                          </option>
                        </select>
                        <label class="form-label">Gender</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <select name="SeatClass" id="SeatClass" class="form-control" required #SeatClass="ngModel"
                        [(ngModel)]="passengerService.formData.seatClass">
                        <option value="" disabled selected>Select SeatClass</option>
                        <option value="1">AC</option>
                        <option value="2">Sleeper</option>
                        <option value="3">Semi Sleeper</option>
                        <option value="4">General</option>
                    </select>
                        <label class="form-label">Seat Class</label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <select name="TrainType" id="trainName" class="form-control" required  disabled>
                          <option value='{{trainName}}' selected>
                            {{trainName}}
                          </option>
                        </select>
                        <label class="form-label" for="form3Example1m1">Train Name</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <select name="TrainType" id="TrainType" class="form-control" required #TrainType="ngModel" [(ngModel)]="trainData.trainType" disabled>
                          <option value='{{trainType}}' selected>
                            {{trainType}}
                          </option>
                        </select>
                        <label class="form-label" for="form3Example1m1">Train Type</label>
                      </div>
                    </div>
                  </div>
  
                  <div class="d-flex justify-content-end pt-3">
                    <button type="button" class="btn btn-light btn-lg">Cancel</button>
                    <button type="submit" class="btn btn-warning btn-lg ms-2">Book Now</button>
                  </div>
  
                </div>
            </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>