.button{
    background-color: #d20022;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 2px;
    padding-bottom: 10px;
    width: 100%;
    border-color: #d20022;
}
.button:hover{
    background-color: #ff9f04;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 2px;
    padding-bottom: 10px;
    width: 100%;
    border-color: #ff9f04;
}