
th{
    background-color: #d20022;
    color: white;
}
table{
    border-collapse: collapse;
    
}
table thead{
    background-color: #d20022;
    color: white;
    border: 3px solid #989DA4;
}
.update{
    background-color: #FEA907;
    color: #F9F3F5;
}
