<div class="container">
    <div class="container" style="margin-right: 5em; float: right;">
        <button style="width: 10em;height: 4em; float: right;" class="btn btn-primary form-control">
          <i class="fa fa-share-square fa-1x" style="color: rgb(255, 255, 255);"></i>Dashboard</button>
      </div>
    <div class="header">
        <h4>Passengers List</h4>

        <br>
    

    </div>
    <div class="container">
        <br>
        <table class=" table  table-responsive table-bordered ">
            <thead>
                <tr>
                    <td>Sl.No:</td>
                    <td>Passenger Name</td>
                    <td>PNR No:</td>
                    <td>Age</td>
                    <td>Gender</td>
                    <td>Booked User</td>
                    <td>Reservation Status</td>
                    <td>Seat Number</td>
                    <td>Ticket Number</td>
                    <td>Starting Point</td>
                    <td>Destination</td>
                    <td>Seat Class</td>
                    <td>Actions</td>
                </tr>

            </thead>
            <tbody>
                <tr *ngFor="let passenger of passengerService.passengers">
                            <td>{{count + 1}}</td>
                            <td>{{passenger.passengerName}}</td>
                            <td>{{passenger.pnrNo}}</td>
                            <td>{{passenger.passengerAge}}</td>
                            <td>{{passenger.passengerGender}}</td>
                            <td>{{passenger.bookedUser}}</td>
                            <td>{{passenger.reservationStatus}}</td>
                            <td>{{passenger.seatNumber}}</td>
                            <td>{{passenger.ticketNumber}}</td>
                            <td>{{passenger.startingPoint}}</td>
                            <td>{{passenger.destination}}</td>
                            <td>{{passenger.seatClass}}</td>

                            <td>
                                    &nbsp;<button class="btn update" style="margin-left: 10px;"
                                        >Update</button> 
                                   &nbsp;
                                    <button class="fa fa-trash btn btn-outline-danger"
                                    style="margin-left:10px" (click)="deletePassenger(passenger.passengerId)">Delete</button>
                            </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="footer">
        <!-- Pagination -->


    </div>
</div>