<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Form</h4>
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  
    
            <div class="float-right">
              <!-- HTML markup for Back button -->
              <button class="btn btn-secondary w-20" type="submit">
                <span translate><i class="fa fa-arrow-left"></i> Cancel</span>
              </button>
            </div>
  </div>

